//@import "./reset";
//@import "./mouth";
//@import "./eye";
//@import "./face";
//@import "./nose";
.skin {
  position: relative;
  height: 100%;
  background: #ffe600;
  //* {
  //  margin: 0;
  //  padding: 0;
  //}
}

#style-code {
  max-height: 200px;
  overflow: auto;
}
