@import "reset";
.mouth {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 170px;
  left: 50%;
  margin-left: -100px;
  .up {
    position: relative;
    top:-20px;
    z-index: 1;

    .lip {
      border: 3px solid black;
      width: 100px;
      height: 30px;
      border-top-color: transparent;
      border-right-color: transparent;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      background: #ffe600;

      &:before {
        content: "";
        display: block;
        width: 7px;
        height: 30px;
        position: absolute;
        bottom: 0;
        background: #ffe600;
      }
      &.left {
        border-radius: 0 0 0 35px;
        transform: rotate(-20deg) translateX(-53px);
        &:before {
          right: -6px;
        }
      }
      &.right {
        border-radius: 0 0 35px 0;
        transform: rotate(20deg) translateX(53px);
        &:before {
          left: -6px;
        }
      }
    }
  }
  .down {
    top: 5px;
    height: 180px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    .yuan1 {
      border: 3px solid #000;
      width: 150px;
      height: 1000px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -75px;
      border-radius: 75px/300px;
      background: #9b000a;
      overflow: hidden;
      .yuan2 {
        width:200px;
        height: 300px;
        background: #ff485f;
        position: absolute;
        bottom: -160px;
        left: 50%;
        margin-left: -100px;
        border-radius: 100px;
      }
    }
  }
}
.skin {
  position: relative;
  height: 100%;
  background: #ffe600;
  //* {
  //  margin: 0;
  //  padding: 0;
  //}
}
