body,
html {
  height: 100%;
}
ul{
  padding: 0;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.parent,
.child {
  width: 200px;
}
.parent {
  height: 200px;
  padding: 10px;
  background: yellow;
}
.child {
  height: 100%;
  padding: 20px;
  background: pink;
}
.image1 {
  background: url("../images/1.jpg");
}
.image3 {
  background: url("../images/3.jpg");
}
.image2 {
  background: url("../images/2.jpg");
}

.image-list {
  display: flex;
  width:200px;
  overflow: auto;
  //white-space: nowrap;
  padding: 0 20px;
  background: red;
  li {
    //flex: 1;
    background: yellow;
    //display: inline-block;
    width: 100%;
    //flex-basis: 200px;
    height: 200px;
    div {
      width: 100%;
      height: 100%;
    }
  }
}
